language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1.0a1
  - hhvm
  
matrix:
  allow_failures:
    - php: 7.1.0a1

before_script:
  - composer install --prefer-source --no-interaction

script:
  - phpunit
